/* http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end css reset */

/* main selectors */

* {
	font-size: 62.5%;
}

body {
	font-family: 'Raleway', sans-serif;
	color: black;
}

h1 {
	font-size: 10vw;
}

h2 {
	font-size: 1.5rem;
	margin-bottom: 0rem;
	line-height: 1.5em;
}

h3 {
	font-size: .9rem;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 1rem;
}

h4 {
	font-size: .8rem;
	text-transform: uppercase;
	margin-bottom: .5rem;
	font-weight: 800;
}

p {
	font-size: 1rem;
	line-height: 1.7rem;
}

a {
	color: magenta;
	font-weight: bold;
}

a:hover {
	font-style: italic;
}

button {
	font-size: 1rem;
	font-family: 'Raleway', sans-serif;
}

/* container selectors */

#container {
	font-size: 1.3rem;
	width: 100%;
}

#headerContainer {
	width: 90%;
	height: auto;
	margin: 5% auto 5% auto;
}

#mainContainer {
	width: 90%;
	margin: 0% auto;
	display: flex;
	flex-flow: column;
}

#pcMainContainer {
	display: none;
}

#quickBioContainer {
	width: 100%;
	margin: 0% auto;
	order: 1;
}

#bioContainer {
	width: 100%;
	margin: 2rem auto 0% auto;
	order: 4;
}

#portraitDiv {
	width: 100%;
	text-align: center;
	margin-top: 1rem;
	order: 3;
}

#navDiv {
	margin-top: 1rem;
	font-size: 1.2rem;
	margin-top: 2rem;
	order: 2;
}

#footerContainer {
	font-size: 1.1rem;
	text-align: center;
	background-image: url('img/footer_bg.jpg');
	padding: 4rem 0%;
	margin-top: 4rem;
	width: 100%;
}

/* header and sidebar item selectors */

header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

#name {
	width: 80%;
	text-align: left;
	color: black;
}

#logo {
	width: 12%;
	height: auto;
	min-width: 50px;
}

#logo img {
	width: 100%;
	height: auto;
	max-width: 100px;
}

#portrait {
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
}

#navDiv nav {
	line-height: 2rem;
	font-size: 1rem;
}

.navLink {
	color: black;
	line-height: 2rem;
	font-weight: normal;
}

/* footer selectors */

footer {
	width: 60%;
	margin: auto;
	background-color: rgba(255, 255, 255, .82);;
	padding: 1rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}

/* footer a {
	color: black;
	line-height: 2rem;
}

footer a:hover {
	font-style: italic;
} */

#footerLeft {
	width: 50%;
}

#footerRight {
	width: 50%;
}

/* other selectors */

#buttonSpan {
	margin-top: 2rem;
	display: block;
}

#buttons {
	background-color: black;
	color: white;
	border: 1px solid black;
	padding: .25rem;
	margin-top: .75rem;
}

/* responsivity */

@media screen and (min-width: 769px) {

	/* main selectors */
	
	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 2.2rem;
		margin-bottom: 2rem;
		line-height: 1.4em;
	}

	h3 {
		margin-bottom: 1.5rem;
	}

	h4 {
		margin-bottom: .5rem;
	}

	/* container selectors */

	#headerContainer {
		margin: 5% auto 3%;
		max-width: 1400px;
	}

	#mainContainer {
		display: none;
	}
	
	#pcMainContainer {
		width: 90%;
		max-width: 1400px;
		margin: 0% auto;
		display: flex;
		flex-flow: row-reverse wrap;
		justify-content: space-between;
		align-items: flex-start;
	}

	#sidebarContainer {
		width: 25%;
		padding-left: 5%;
		margin: 0%;
	}

	#portraitDiv {
		width: 65%;
	}

	#navDiv {
		margin-top: 2rem;
		display: block;
		width: 65%;
	}

	#contentContainer {
		width: 70%;
		margin: 0%;
	}

	/* header and sidebar item selectors */

	header {
		justify-content: flex-start;
	}

	#logo {
		width: 15%;
	}

	#logo img {
		max-width: 7rem;
	}

	#name {
		width: 80%;
		text-align: left;
		color: black;
	}

	#portrait {
		width: 10em;
		height: 10em;
	}
	
	#navDiv nav {
		padding-left: 1rem;
	}

	/* footer selectors */

	footer {
		max-width: 80%;
	}
}

/* breakpoints
	320 - 480 mobile
	481 - 768 tablets
	769 - 1024 small screens/laptops
	1025 - 1200 desktops/large screens
	1201 + xl screens/tvs
*/